<?xml version='1.3' encoding='utf-8'?>
<widget id="com.osbooter.WTHCPG" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WTHCPG</name>
    <icon src="res/icon.png" />
    <description>
        The Work Time Hours Calculator App using Phone Gap
    </description>
    <author email="" href="https://github.com/OSBooter/WTHCPG/issues">
        Andrew Cheung aka OSBooter
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
